[alias]
	b = branch --verbose --verbose
	ba = branch --all --verbose --verbose
	br = branch --remotes --verbose --verbose
	d = diff
	dc = diff --cached
	ls = log --oneline
	r = remote --verbose
	s = status
	sh = show --oneline
[commit]
	gpgSign = true
[core]
	excludesFile = ~/.gitignore
[init]
	defaultBranch = main
[user]
	name = Richard E. Dodson
