[alias]
	a         = add --verbose
	aa        = add --verbose --all
	alias     = config --get-regexp ^alias[.]
	au        = add --verbose --update
	b         = branch --verbose --verbose
	ba        = branch --verbose --verbose --all
	br        = branch --verbose --verbose --remotes
	c         = commit --verbose
	ca        = commit --verbose --all
	ch        = checkout
	cl        = clone --verbose
	core      = config --get-regexp ^core[.]
	d         = diff
	ds        = diff --staged
	l         = log --graph --oneline --max-count=10
	la        = log --graph --oneline
	ld        = log --graph --oneline --decorate --max-count=10
	lda       = log --graph --oneline --decorate
	ldl       = log --graph --oneline --decorate --max-count=40
	ldm       = log --graph --oneline --decorate --max-count=20
	lds       = log --graph --oneline --decorate --max-count=10
	ll        = log --graph --oneline --max-count=40
	lm        = log --graph --oneline --max-count=20
	ls        = log --graph --oneline --max-count=10
	m         = merge --verbose --log --no-ff
	r         = remote --verbose
	rp        = remote --verbose prune
	s         = status
	sh        = show --oneline
	sl        = status --long
	ss        = status --short
	st        = stash
	t         = tag
	update    = !git pull && git remote prune origin && git gc
	user      = config --get-regexp ^user[.]

[color "diff"]
	frag			= bold blue

[commit]
	gpgsign   = true

[core]
	editor    = vim
	pager 		= diff-so-fancy | less --tabs=2

[diff-so-fancy]
	first-run = false

[push]
	default   = simple

[user]
	name      = Richard E. Dodson
